div{
    background-color: black;
    color: white;
    border: solid 5px white;
    float: left;
    width: 299px;
    height: 500px;
    padding: 10px;
}
h1{
    text-align: center;
}
img{
    height: 300px;
    width: 100%;
}